/* regole pagina */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.margini{
    width: 85%;
    margin: 0 auto;
}

/*regole header  */
header{
    background-color: rgb(30,36,95);
    background-image: url(../img/background-header.png);
    background-position: 110% 100%;
    background-repeat: no-repeat;
    background-size: 1000px;
}

.banner{
    position: relative;
    height: 500px;
    margin-top: 30px;
}

.container_banner{
    position: absolute;
    left: 7%;
    top: 50%;
    transform: translateY(-50%);
    width: 30%;
}

.titolo_header{
    color: white;
    font-size: 35px;
}

.bottone_banner{
    text-decoration: none;
    border-radius: 5px;
    padding: 20px;
    margin-top: 15px;
    background-color: rgb(125,214,0);
    font-size: 14px;
    color: white;
    display: inline-block;
}

/* REGOLE BARRA NAVIGAZIONE */
nav img{
    margin-top: 5px;
}

nav::after{
    content: "";
    display: table;
    clear: both;
}

/* parte sinistra nav */
.links{
    float: left;
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 10px;
    margin:5px;
}

nav li{
    display: inline-block;
}

nav ul{
    margin-top: 15px;
    margin-left: 50px;
}

/* parte destra nav */
.opzioni{
    float: right;
    margin-top: 15px;
}

.bottone{
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
}

.login{
    border: 1px solid white;
    padding-left: 15px;
    padding-right: 15px;
}

.piano{
    background-color: rgb(125,214,0);
    padding-left: 8px;
    padding-right: 8px;
}

/*regole titolo main*/
.title{
    background-color: rgb(215,215,215);
    text-align: center;
}

h1{
    font-size: 25px;
    padding-top: 25px;
}

h4{
    margin: auto;
    line-height: 50px;
    color: grey;
}

/* regole generalielementi in float */
.row::after{
    content: "";
    display: table;
    clear: both;
}

.column{
    float: left;
    margin: 50px 20px;
    text-align: center;
}

.column h2{
    color: rgb(125,214,0);
    font-size: 22px;
    max-width: 300px;
    margin: 20px auto;
}

.column hr{
    width: 20%;
    margin: auto;
}

.column p{
    color: grey;
    margin: 20px 0;
}

.divisore{
    width: 95%;
    margin: auto;
}
/* colonne section_1 */
.section_1 .column{
    width: calc(100% / 3 - 40px);
}

.section_1 img{
    height: 150px;
    width: auto;
}

/* colonne section_2 */
.section_2 .column{
    width: calc(50% - 40px);
}

.montagna{
    width: 100%;
    height: auto;
}

.section_2 .column{
    text-align: left;
}

/* footer */
footer{
    position: relative;
    background-color: lightgrey;
    padding: 55px 0;
}

footer h2{
    display: inline-block;
    margin-left: 7%;
    line-height: 40px;
}

.struttura_piano{
    position: relative;
    float: right;
    color: grey;
    margin-right: 7%;
    text-align: center;
}

.bottoni{
    display: inline-block;
    width: 55%;
}
.bottone_footer{
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    padding:0 15px;
    background-color: rgb(125,214,0);
    font-size: 14px;
    color: white;
    line-height: 40px;
}

.help{
    position: fixed;
    bottom: 0;
    right: 10%;
}
