/* regole pagina */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.margini{
    width: 85%;
    margin: 0 auto;
}

/* header */
header{
    background-color: blue;
    height: 400px;
}

nav{
    background-color: grey;
    height: 50px;
}

/* main */
.title{
    background-color: lightgrey;
    height: 100px;
}

.section_1,.section_2{
    background-color: pink;
    border: 1px solid black;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

.column{
    float: left;
    margin: 20px;
    background-color: red;
    height: 300px;
}

.section_1 .column{
    width: calc(100% / 3 - 40px);
}

.section_2 .column{
    width: calc(50% - 40px);
}

/* footer */
footer{
    background-color: lightgrey;
    height: 100px;
}
